{% extends 'components/base_form.html.twig' %}
{% block form %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.plainPassword, {'label': 'Nombre *', 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="col-md-12 mt-5 text-center">
        <button class="btn btn-primary mr-12">{{ formArgs.title }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}